.main {
    display: flex;
}

.controls {
    display: flex;
    flex-direction: column;
    flex: .5;
    align-items: center;

}

.right {
    display: flex;
    flex-direction: column;
    flex: .5;
    align-items: center;
}

.grid-container {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    border: 2px solid black;
}

.slider-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

#slider {
    width: 75%;
}
